<footer>
  <span class="footer-logo">
    <h1>LOGO</h1>
  </span>
  <span class="contact-info">
    <h3>Lorem ipsum dolor</h3>
    <h3>Lorem ipsum dolor</h3>
    <h3>Lorem ipsum dolor</h3>
  </span>
</footer>
