<link rel="stylesheet" href="../../styles/footer.css">
<footer>
  <div class="footer-logo">
    <h1>LOGO</h1>
  </div>
  <div class="contact-info">
    <h3>Lorem ipsum dolor</h3>
    <h3>Lorem ipsum dolor</h3>
    <h3>Lorem ipsum dolor</h3>
  </div>
</footer>
