<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin</title>
</head>
<body>
  <%- include('partials/_header') %>
  <main>
    <div id="pending-orders">
      <h1>
        Orders waiting for confirmation
      </h1>
      <div class="pending-order-details">
        <span class="individual-order-details">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, sequi cumque.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, sequi cumque.</p>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, sequi cumque.</p>
        </span>
        <span class="indidual-order-input">
          <form action="">
            <input type="text">
            <button>Confirm Order</button>
          </form>
        </span>
      </div>
    </div>
    <div id="confirmed-orders">
      <h1>
        Confirmed Orders
      </h1>
      <span class="individual-order-details">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, sequi cumque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, sequi cumque.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, sequi cumque.</p>
      </span>
    </div>
  </main>
</body>
</html>
