<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Order Details</title>

  <!-- External CSS -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Averia+Sans+Libre&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
  <style> @import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap');</style>

  <!-- CSS -->
  <link rel="stylesheet" href="../styles/order_details.css">
  <link rel="stylesheet" href="../styles/layout.css">
  <link rel="stylesheet" href="../styles/typography.css">

  <!-- Scripts -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js" referrerpolicy="no-referrer"></script>
  <script src="/scripts/app.js"></script>

</head>
<body>
  <%- include('partials/_header') %>
  <main>
    <h2>Your Order Details</h2>
    <div class="items-list">
      <div class="menu-items">
        <!-- start of template for order card -->

          <div class="order-card">

            <div class="details">
              <h3><%= orders %></h3>

            </div>
          </div>

          <!-- end of template for order card -->

      </div>
    </div>
    <form action="">
      <button class="confirm" type="submit">
        Confirm Order
      </button>
    </form>
  </main>
  <%- include('partials/_footer') %>
</body>
</html>
