footer {
  height: 200px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  background-color: #fed9e5;
  padding: 0 40px;
  margin: 0;

  .hours {
    width: 40%
  }

  .contact {
    width: 33.3%
  }
  .location {
    width: 33.3%
  }
}
