main {
  width: 100%;

  .category-one {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .header {
      margin: 10px;
    }

    .menu-items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .item-card {
        margin: 20px;
        padding: 20px;
        width: 200px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        border: 1px solid grey;
        border-radius: 5px;

        .food-photo {
          width: 200px;
          height: 200px;
          background-color: hotpink;
        }

        .details {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
        }

        .form {
          display: flex;
          flex-direction: row;
        }

        input.qty {
          width: 35px;
        }

      }

    }

  }

}



