.welcome {
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-top: 6rem;
  margin-bottom: 20rem;
  max-width: 100%;
  // background-image: url('https://media.istockphoto.com/vectors/boba-tea-seamless-pattern-vector-bubble-milk-tea-scarf-isolated-tile-vector-id1218097774?b=1&k=6&m=1218097774&s=612x612&w=0&h=kcgYrffsPQYye0lqox_30kSYOEWSQEwVslhWnu38dN0=');
}

.sliding-background {
  position: absolute;
  background: url('https://media.istockphoto.com/vectors/boba-tea-seamless-pattern-vector-bubble-milk-tea-scarf-isolated-tile-vector-id1218097774?b=1&k=6&m=1218097774&s=612x612&w=0&h=kcgYrffsPQYye0lqox_30kSYOEWSQEwVslhWnu38dN0=') repeat-x;
  height: 500px;
  width: 5076px; /* The image width times 3*/
  animation: slide 60s linear infinite;
}

@keyframes slide{
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1692px, 0, 0); /* The image width */
  }
}

.welcome-message {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 1.2em;
  margin-top: 3em;
  z-index: 8;
}

#welcome-slogan {
  margin-top: 0;
}

button.order {
  border: 1px solid #e698b0;
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
  color: #e698b0;
  background-color: transparent;
  box-shadow: none;
  border-radius: 5px;
  padding: 7px 15px;
  margin: 10px;
}

button.order:hover {
  color: white;
  background-color: #e698b0;
  cursor: pointer;
}

main {
  max-width: 100%;
  overflow: hidden;

  .categories {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1em;

    #category-one {
      margin-bottom: 5em;
      content: "";
      height: 2.5px;
      border-top: 1px solid #78c9d7;
      border-bottom: 1px solid #78c9d7;
    }

    #category-one h1 {
      position: relative;
      color: #78c9d7;
    }

    #category-one h1:after {
      content: "";
      position: absolute;
      width: 100%;
      height: 2.5px;
      border-top: 1px solid #78c9d7;
      border-bottom: 1px solid #78c9d7;
      top: 2em;
      bottom: 0;
      left: 0;
      z-index: -1;
    }

    .menu-items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .item-card {
        margin: 20px;
        padding: 20px;
        width: 200px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        border-radius: 5px;
        // box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        box-shadow: rgba(0, 0, 0, 0.10) 0px 1px 3px 0px;

        .food-photo {
          width: 200px;
          height: 300px;
          background-color: hotpink;
        }

        .details {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: flex-start;
        }

        .price-tag {
          display: flex;
          justify-content: space-between;
          margin-bottom: 5px;
        }

        .price-tag p {
          margin-right: 10px;
          border-radius: 5px;
          padding: 2px;
          padding-left: 1em;
          padding-right: 1em;
          color: white;
        }

        #price {
          background-color: #d4c87f;
        }

        #category {
          background-color: #78c9d7;
        }

        .form {
          display: flex;
          flex-direction: row;
        }

        input.qty {
          width: 35px;
        }

      }

    }

  }

  .confirmation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 2rem;
  }

}



