.thank-you {
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-top: 6rem;
  margin-bottom: 20rem;
  max-width: 100%;
  // background-image: url('https://media.istockphoto.com/vectors/boba-tea-seamless-pattern-vector-bubble-milk-tea-scarf-isolated-tile-vector-id1218097774?b=1&k=6&m=1218097774&s=612x612&w=0&h=kcgYrffsPQYye0lqox_30kSYOEWSQEwVslhWnu38dN0=');
}

.sliding-background {
  margin-top: 0.4em;
  position: absolute;
  background: url('https://media.istockphoto.com/vectors/boba-tea-seamless-pattern-vector-bubble-milk-tea-scarf-isolated-tile-vector-id1218097774?b=1&k=6&m=1218097774&s=612x612&w=0&h=kcgYrffsPQYye0lqox_30kSYOEWSQEwVslhWnu38dN0=') repeat-x;
  height: 500px;
  width: 5076px; /* The image width times 3*/
  animation: slide 60s linear infinite;
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(1692px, 0, 0); /* The image width */
  }
}

.order-message {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  padding: 1.2em;
  margin-top: 1.2em;
  z-index: 8;
}

.order-message-text {
  font-family: 'Baloo Chettan 2', sans-serif;
}

.order-detail {
  margin-top: 0;
}
