h1 {
  font-family: 'Averia Sans Libre', cursive;
  font-size: 22pt;
  color: #6C3E26;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 20pt;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 11pt;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 10pt;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
}

li {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 10pt;
}

label {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 10pt;
}
