h1 {
  font-family: 'Averia Sans Libre', cursive;
  color: #6C3E26;
}

h2 {
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
}

h3 {
  font-family: 'Open Sans', sans-serif;
  font-size: 11pt;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
}

li {
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  font-size: 10pt;
}

button {
  font-family: 'Open Sans', sans-serif;
  font-size: 12pt;
  color: white;
}
